@charset "UTF-8";

.ac {
	text-align: center;
}

.tenant_group_content {
	width: 100%;
	height: 818px;
	background: #3b4252;
}

.tenant_group_content1 {
	width: 100%;
	height: auto;
	background: #444C63;
}

.tenant_group_title {
	position: relative;
	width: 66%;
	margin-left: 30px;
}

}
.tenant_group_style {
	position: relative;
	min-width: 140px;
	height: 40px;
	border-radius: 8px;
	padding-left: 12px;
	margin-bottom: 19px;
	color: #fff;
	font-size: 14px;
	background: transparent;
	border: 1px solid #5f687f;
	margin-top: 18px;
}

.caret1 {
	position: absolute;
	right: 12px;
	top: 18px;
}

.caret2 {
	position: absolute;
	right: 12px;
	top: 13px;
}

.tenant_group_select {
	position: absolute;
	min-width: 140px;
	height: 134px;
	border-radius: 6px;
	background: #3b4252;
	z-index: 99;
	padding-top: 10px;
	border: 1px solid #5f687f;
	display: none;
}

.tenantGroup_selectTop1 {
	top: 110px;
}

.tenant_group_select ul>li {
	line-height: 28px;
	padding-left: 12px;
}

.tenant_group_select ul>li>a {
	color: #fff;
	font-size: 12px;
}

.tenant_group_table {
	width: 94%;
	height: 730px;
	padding-top: 62px;
	margin: 0 auto;
}

.tenant_group_table1 {
	width: 94%;
	height: 730px;
	padding-top: 20px;
	margin: 0 auto;
}

.tenantGroup_titleName {
	width: 100%;
	height: 36px;
	margin-top: 20px;
}

.tenant_group_table_top {
	width: 94%;
	padding-top: 20px;
	margin: 0 auto;
}

.tenantData_title {
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	border-left: 3px solid #5ce59d;
	padding-left: 8px;
	color: #fff;
	font-weight: 500;
}

.tenantData_titleBtn {
	width: 388px;
	height: 36px;
}

.tenantData_btn {
	border: 1px solid #5f687f;
	border-radius: 6px;
	height: 36px;
	background: transparent;
	color: #fff;
	font-size: 16px;
}

.tenantData {
	width: 90px;
}

.tenantData1 {
	width: 80px;
}

.btnMagin {
	margin-right: 6px;
}

.tenantData_btn:hover {
	background: #444c63;
}

.tenantGroup_table {
	border: 1px solid #5f687f;
	width: 100%;
	margin-top: 14px;
}

.tenantGroup_table thead>tr>td {
	background: #444c63;
	height: 50px;
	font-size: 16px;
	color: #fff;
}

.tenantGroup_td1 {
	width: 50px;
}

.tenantGroup_table tbody>tr>td {
	border-top: 1px solid #444c63;
	height: 80px;
	font-size: 14px;
	color: #fff;
}

.checkBtn {
	color: #fff;
}

.reviseBtn {
	width: 48px;
	height: 26px;
	border-radius: 4px;
	background: #4ab17e;
	margin: 0 8px;
}

.deleteBtn {
	width: 48px;
	height: 26px;
	border-radius: 4px;
	background: #ff8393;
}

.tenantGroup_checkBox {
	width: 28px;
	height: 20px;
	background: url(../imgs/form_right_checkBoxa.png) no-repeat;
	cursor: pointer;
	margin-left: 14px;
}

.tenantGroup_checkBox_add {
	background: url(../imgs/form_right_checkBox.png) no-repeat;
}

.tenantData_newA {
	color: #fff;
}

.tenantData_newA:hover {
	color: #fff;
	text-decoration: none;
}

.tenant_groupNew_content {
	width: 100%;
	height: 554px;
	background: #444c63;
}

.tenantGroup_titleName_frame {
	position: relative;
	width: 100%;
	height: 370px;
	border: 1px solid #6c7692;
}

.systemusers_form_left {
	min-width: 160px;
	padding-left: 40px;
	box-sizing: border-box;
}

.systemusers_form_right {
	margin-top: 35px;
}

.systemusers_form_left ul {
	padding-top: 26px;
}

.systemusers_form_left ul li {
	font-size: 20px;
	color: #fff;
	line-height: 46px;
}

.form_right_style {
	position: relative;
	min-width: 242px;
	height: 28px;
	border-radius: 4px;
	padding-left: 12px;
	margin-bottom: 19px;
	background: #fff;
	color: #72727b;
	font-size: 12px;
	padding-right: 22px;
}

.systemMenu_selectTop {
	top: 160px;
}

.systemMenu_selectTop1 {
	top: 112px;
}

.systemMenu_selectTop2 {
	top: 112px;
}

.systemMenu_select {
	position: absolute;
	min-width: 242px;
	height: 134px;
	border-radius: 6px;
	background: #fff;
	z-index: 99;
	padding-top: 10px;
	display: none;
}

.form_right_btn {
	position: absolute;
	bottom: 40px;
}

.btn_conserve {
	width: 100px;
	height: 36px;
	border-radius: 6px;
	background: #4dc586;
	font-size: 18px;
	color: #fff;
	margin-right: 20px;
}

.btn_cancel {
	width: 100px;
	height: 36px;
	border-radius: 6px;
	border: 1px solid #6c7692;
	background: transparent;
	font-size: 18px;
	color: #fff;
}

.systemMenu_select ul>li {
	line-height: 28px;
	padding-left: 12px;
}

.systemMenu_select ul>li>a {
	color: #444c63;
	font-size: 12px;
}

.systemMenu_select ul>li:hover {
	background: #428ddc;
}

.systemMenu_select ul>li:hover a {
	color: #fff;
}

.form_right_style_time {
	line-height: 28px;
}

.formTime {
	position: absolute;
	right: 0px;
	top: 8px;
}