<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anrong.wulan.admin.dao.AppPlatformMapper">
	<resultMap id="BaseResultMap" type="com.anrong.wulan.admin.po.AppPlatform">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="app_key" property="appKey" jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, app_key, platform
	</sql>

	<select id="getAppPlatform" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from APP_PLATFORM
		<where>
			and app_key = #{appKey,jdbcType=BIGINT}
		</where>

	</select>
</mapper>